
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Web Login</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css_face/style2.css')}}">
    
</head>
<body>
    <div class="container">
        <video id="video" width="440" height="280" autoplay src=""></video>
        <br>
        <!-- Button Capture Photo -->
        <button class="capture-btn" onclick="capture()" style="font-size: 18px;">Capture Photo Face</button>
        <br>
        <!-- Your face cam -->
        <canvas id="canvas" width="400" height="280" style="display: none;"></canvas>
        <br>

        <div class="form-container">
            <h3>Register Account</h3>
            <label for="name">Your Name</label>
            <input type="text" id="name"  style="font-size: 18px" placeholder="Enter your name">
            <br>
            <div>
                <button class="register-btn" onclick="register()" style="font-size: 18px;">Register</button>
                <button class="login-btn" onclick="login()" style="font-size: 18px;">Login Now</button>
            </div>
                
        </div>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
