<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/css_face/stylemain.css">
    <link rel="icon" href="image/logomyapp-removebg-preview.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyFreak-By Bhausaheb Vartak polytechnic</title>
</head>

<body>
   
    <div class="navbar">
        <nav>
            <h2 class="logo">Study<span>Freak</span></h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
          <ul>
            <li><a class="signup" href="/signup">SignUp</a></li>
            <li><a class="login" href="/loginpage">Login</a></li>
          </ul>
        </nav>
    </div>
    <div class="container">
        <div class="container2">
            <video autoplay muted loop plays-inline class="background-clip">
                <source src="static/image/final1.mp4" type="video/mp4">
                <!-- /image/home.mp4 -->
            </video>
            <div class="content" style="margin-left: 120px;">
                <h1>Explore <span> More </span></h1>
                <!-- <a class="home" href="https://sparkling-starship-e44032.netlify.app/">Start Learning</a> -->
                <a class="home" href="/face">Verify Yourself</a>
                
                <div class="visit">
                    <a href="">
                        <span>Visit </span>Study-freak
                    </a>
                </div>
            </div>
          
        </div>
    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>