<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Web Login</title>

</head>
<body>
    <video id="video" width="440" height="280" autoplay src="">
        
    </video>
    <br>
    <!-- Button Capture Photo -->
    <Button onclick="capture()">Capture Photo Face</Button>
    <br>
    <!-- Your face cam -->
    <canvas id="canvas" width="400" height="280" style="display: none;"></canvas>
    <br>

    <h3>
        Register Account

    </h3>
    <label for="name">Your Name</label>
    <input type="text" id="name" required >
    <br>
    <button onclick="register()">Register</button>
    <button onclick="login()">Login Now</button>

    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    
</body>

</html>